html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #cbc0d3;
}

header {
    display: flex;
    height: 5vh;
    color: white;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0.5em;
    background-color: white;
    border-radius: 10px;
}

.input {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0em;
    gap: 0.25em;
}

.output {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.btn-calc {
    max-width: fit-content;
}